*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Inter, "Sans-Serif";
}

.container {
    padding: 24px;
    min-height: 100vh;
}

.app.dark .container {
    background-color: #23272F;
}

.app.light .container {
    background-color: white;
}

.app.dark p,
.app.dark h1,
.app.dark h3 {
    color: #F6F7F9;
}

.app.light p,
.app.light h1,
.app.light h3 {
    color: black;
}